// COLORS
$color-primary: #ceb856; //#C9C550;
$color-grey-light: #F9F7F6;
$gradient-color: #bc8f5bcf;

$font-color-light: #fafafa;
$font-color-dark: rgba(#424242, .7);

// FONTS
$font-text: 'Rosario', sans-serif;
$font-secondary: 'Roboto', sans-serif;   

// BREAKPOINTS

$bp-small: 37.5em;
$bp-medium: 56.25em;
$bp-big: 75em;
$bp-large: 112.5em;