// COLORS
$color-primary: #ceb856; //#C9C550;
$color-grey-light: #F9F7F6;
$font-color-dark: rgba(#424242, .7);
$photo-layer-color: rgba(#BC8E5B, .34);
$font-color-light: #fafafa;

// FONTS
$font-text: 'Rosario', sans-serif;
$font-heading: 'Roboto', sans-serif;   

// BREAKPOINTS

$bp-small: 37.5em;
$bp-medium: 56.25em;
$bp-big: 75em;
$bp-large: 112.5em;