.footer {

    background-image: linear-gradient(to right bottom, $color-primary, $gradient-color);

    &__wrapper {
        padding: 6rem;
        color: $font-color-light;
        text-align: left;
        max-width: 1200px;
        margin: 0 auto;
        text-align: center;
    }

    &__contact-info {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
    }

    &__contact-info-content {

        span {
            font-size: 2rem;
            display: block;
            line-height: 2;
        }
    }

    &__contact-info-link {
        display: inline-flex;
        align-items: center;
        color: currentColor;
    }

    &__socialmedia-icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: currentColor;
        margin-right: 1rem;
    }

    .copy {
        font-size: 2rem;
    }
}