.heading { 
    text-transform: uppercase;
    font-weight: lighter;
    
    &-1 { 
        font-size: 3rem;
    }
    &-2 { font-size: 4rem; }
    &-3 { font-size: 3.5rem; }
    &-4 { font-size: 2.5rem }

    &--primary {
        color: $color-primary;
    }

    &--light {
        color: $font-color-light;
    }

    &--intro {
        font-size: 2.2rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary, darken($color-primary, .7));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}