.heading { 
    &-1 { font-size: 1.5rem; }
    &-2 { font-size: 2.5rem; }
    &-3 { font-size: 2rem; }

    &--primary {
        color: $color-primary;
    }

    &--light {
        color: $font-color-light;
    }

    &--intro {
        font-size: 1.8rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary, darken($color-primary, .7));
        -webkit-background-clip: text;
        color: transparent;
    }
}