.section-intro {

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1.5rem 4rem rgba($font-color-dark, .1);
    background-color: #fafafa;

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__content-frame {
        padding: 5rem;
        text-align: right;
    }

    &__image {
        height: 100%;
        object-fit: cover;
        display: block;
        margin-left: auto;
        padding: 2rem;
        box-shadow: 0 1.5rem 4rem rgba($font-color-dark, .1);
    }

    &__text {
        font-size: 1.5rem;
        margin-right: auto;
    }
}