.section-memories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &__form-wrapper {
        width: 100%;
        padding: 7rem;
        // height: 30rem;
        // padding: 3rem;
        background-image: linear-gradient(105deg, 
                            rgba($color-primary, .7) 0%,
                            rgba($color-primary, .7) 100%) ,
                            url(../img/memory-form-photo.jpg);
        background-size: cover;
        background-position: 25%;
        box-shadow: 0 1.5rem 4rem rgba(#000, .2);
    }

    .form {
        display: block;

        &__input {
            background: none;
            resize: none;
            border: none;
            outline: 2px solid $font-color-light;
            width: 30rem;
            font-family: $font-heading;
            color: $font-color-light;
            text-transform: uppercase;
            padding: 1rem;
            font-size: 1.5rem;
            display: block;
            margin-bottom: 1.5rem;

            &::-webkit-input-placeholder {
                font-family: $font-heading;   
            }
        }

        &__label {
            font-size: 1.5rem;
            text-transform: uppercase;
            color: $font-color-light;
            display: block;
            transition: all .3s;
        }

        &__submit {
            width: 30rem;
            padding: 1rem;
            border: 2px solid #fff;

            &:hover {
                background-color: rgba($color-primary, .7);
                color: $font-color-light;
                transform: translate(0);
            }
        }
    }

    &__memories {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 3rem;
        margin-bottom: 2.5rem;
        padding: 3rem;
    }

    .btn {
        align-self: center;
    }
}

.form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
}