.section-memories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &__form-wrapper {


        width: 100%;
        height: 30rem;
        padding: 3rem;
        // height: 30rem;
        // padding: 3rem;
        background-image: linear-gradient(105deg, 
                            rgba($color-primary, .7) 0%,
                            rgba($color-primary, .7) 100%) ,
                            url(../img/memory-form-photo.jpg);
        background-size: cover;
        background-position: 25%;
        box-shadow: 0 1.5rem 4rem rgba(#000, .2);
    }

    .form {
        display: block;

        &__input {
            background: none;
            resize: none;
            border: none;
            outline: 1px solid $font-color-light;
            width: 15rem;
            font-family: $font-heading;
            color: $font-color-light;
            text-transform: uppercase;
            padding: .5rem;
            font-size: 1rem;
            display: block;

            &::placeholder {
                // color: currentColor;
                font-family: $font-heading;   
            }
        }

        &__label {
            font-size: 1.1rem;
        }
    }

    &__memories {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
        grid-gap: 3rem;
        margin-bottom: 2.5rem;
        padding: 3rem;
    }

    .btn {
        align-self: flex-end;
        margin-right: 10rem;
    }
}