.btn { 
    &:link, 
    &:visited {
        display: block;
        width: max-content;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
    }

    &--primary {
        color: $font-color-light;
        background-color: $color-primary;
    }

    &--light {
        color: $color-primary;
        background-color: $font-color-light;
    }
}