.modal {
    position: fixed;
    top: 0;
    left: 0;
    background-color: $color-grey-light;
    width: 100%;
    height: 100%;
    padding: 5rem;
    overflow-y: auto;
    z-index: 2001;

    &__title {
        margin-bottom: 1rem;
    }

    &__author-name {
        font-size: 2rem;
        color: $color-primary;
        margin-bottom: 1rem;
    }

    &__content {
        font-size: 1.7rem;
    }

    &__close {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 3rem;
        padding: 2rem;
        cursor: pointer;
    }
}