*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    color: $font-color-dark;
    font-family: $font-text;
    font-weight: 300;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    overflow-x: hidden;

    img {
        width: 300px;
    }
}

::selection {
    background-color: $color-primary;
    color: $font-color-light;
}